@import "../styleVariables.scss";

.people-table {
    font-size: 1em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    table {
        thead {
            tr {
                th {
                    color: $main-color;
                    text-shadow: -1px 0px 3px $yellow-color,
                        0 1px 3px $yellow-color, 1px 0 3px $yellow-color,
                        0 -1px 3px $yellow-color;
                    font-weight: 900;
                }
            }
        }
        tbody {
            height: 100%;
            max-height: 90vh;
            overflow-y: auto;
            overflow-x: hidden;
            tr {
                td {
                    width: 12em;
                    padding: 0 5px;
                    font-size: 1em;
                    margin: 0.5em 0;
                    input {
                        width: 100%;
                        border: none;
                        padding: 0 5px;
                        font-size: 1em;
                        line-height: 2em;
                        margin: 0 0 0 -5px;
                        letter-spacing: 2px;
                        color: $yellow-color;
                        box-sizing: border-box;
                        background-color: rgba($secondary-color, 0.25);
                    }
                }
                td:last-child {
                    padding: 0;
                    width: 10em;
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }
    .create-button-box {
        width: 10em;
        margin: 0 0 0 auto;
        display: flex;
        justify-content: center;
    }
}
